.match-view {
  height: 100vh;
  width: 100vw;

  & .matches-container {
    height: 100%;
    width: 100%;

    & .title {
      width: 100%;
      text-align: center;
      margin: 12px 0;
    }
    & .matches {
      height: 80%;
      overflow-y: scroll;
      border-top: 1px solid rgba(138, 132, 132, 0.5);
      border-bottom: 1px solid rgba(138, 132, 132, 0.5);
      margin-bottom: 10%;
      overflow-x: hidden;
      & .match {
        display: flex;
        height: 74px;
        align-items: center;
        & + .match {
          border-top: 1px solid rgba(138, 132, 132, 0.5);
        }
        & .info {
          width: 100%;
          & .name {
            font-weight: 600;
            font-size: 18px;
          }
          & .bio {
            color: grey;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 70%;
            height: 1.2em;
            white-space: nowrap;
          }
        }
        & img {
          margin: 0 14px;
          height: 48px;
          width: 48px;
          border-radius: 50%;
          -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07),
            0 12px 24px 0 rgba(60, 82, 93, 0.1);
          -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07),
            0 12px 24px 0 rgba(60, 82, 93, 0.1);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07),
            0 12px 24px 0 rgba(60, 82, 93, 0.1);
        }
      }
    }
  }
}
