.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  & .header {
    margin-top: 20px;
    text-align: center;
    & .title {
      font-weight: bold;
    }

    & .subtitle {
      font-weight: 100;
      color: #3d4750;
      padding: 0 15px;
      & span {
        text-decoration: underline;
      }
    }
  }

  & .buttons {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-around;
    & .btn {
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      width: 56px;

      -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04),
        0 12px 24px 0 rgba(60, 82, 93, 0.06);
      -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04),
        0 12px 24px 0 rgba(60, 82, 93, 0.06);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04),
        0 12px 24px 0 rgba(60, 82, 93, 0.06);
      & img {
        height: 36px;
        width: 36px;
      }
    }
  }

  & .card-container {
    margin-bottom: 90px;
  }
}

@media only screen and(max-height: 730px) {
  .subtitle {
    display: none;
  }
}
